<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>ID:</label>&nbsp;
      <input type="text" class="form-control" [(ngModel)]="id"><br><br>
      <label>Name:</label>&nbsp;
      <input type="text" class="form-control" [(ngModel)]="name"><br><br>
      <label>Salary:</label>&nbsp;
      <input type="text" class="form-control" [(ngModel)]="salary"><br><br>
      <label>Department:</label>&nbsp;
      <input type="text" class="form-control" [(ngModel)]="department"><br><br>
      <button class="btn btn-primary">Add Employee</button>
      <p>{{id}}  {{name}}  {{salary}}  {{department}}</p>
    </div>
  </div>
</div>